[package]
name = "assertor"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
num-traits = { version = "0.2.14", optional = true }

[features]
default = ["float"]
float = ["num-traits"]